<body style="background-color:blue;">

<h1 style="color:orange;">About Me</h1>

<p style="color:orange;">
	My name is Chi, welcome to my first ever blog. I currently work at Convergent Media Systems and attend class at Tech Talent South.  My love of all things technology goes back as far as I can remember.  From video games to computers to any type of small technical gadget, I could never get enough.  With this class, I hope to acquire the skills I need to put my own personal imprint on the technology world.  Aside from my tech interest, I also have a passion for sports and music.  
</p>  


<%= image_tag('NY-skyline.jpg' ) %>



<p>Find me in app/views/welcome/about.html.erb</p>
