<body style="background-color:blue;">




<h1 style="color:orange;">Chi</h1>


<p style="color:orange;">
	My name is Chi, I am 34 years old.  I am originally from New York.  I currently work at Convergent Media Systems and attend class at Tech Talent South.
</p>  

<i><p style="color:orange;"> Without struggle, there is no progress </i></p>


<img src="http://upload.wikimedia.org/wikipedia/commons/3/3e/Arizona-sunset.jpg" width = "100" height = "100"/>
 


<p>Find me in app/views/welcome/index.html.erb</p>
