<body style="background-color:blue;">

<h1 style="color:orange;">Sitemap</h1>

<u><p style="color:orange;">Index</u><p>
<u><p style="color:orange;">About</u><p>


<p>Find me in app/views/welcome/sitemap.html.erb</p>
